<item type="shield"></item>
<item type="tunic"></item>
<item type="sword"></item>
<item type="bow"></item>
<item type="lamp"></item>
<item type="bottle"></item>
<item type="flute"></item>
<item type="hammer"></item>
<item type="hookshot"></item>
<item type="boomerangs"></item>
<item type="cape"></item>
<item type="shovel"></item>
<item type="mushroom"></item>
<item type="powder"></item>
<item type="mirror"></item>
<item type="rods"></item>
<item type="canes"></item>
<item type="bombos"></item>
<item type="ether"></item>
<item type="quake"></item>
<item type="boots"></item>
<item type="book"></item>
<item type="gloves"></item>
<item type="flippers"></item>
<item type="moon-pearl"></item>
