<div role="button" class="btn btn-secondary" ng-class="{'active': $ctrl._ItemsService.getItemLevel($ctrl.type)}"
  ng-click="$ctrl._ItemsService.incrementItemLevel($ctrl.type)">
  <div
    class="d-flex flex-column align-items-end item {{ $ctrl.type + '-' + $ctrl._ItemsService.getItemLevel($ctrl.type) }}"
    ng-class="{ 'unavailable': !$ctrl._ItemsService.getItemLevel($ctrl.type) }">
    <div class="mt-auto w-100">
      <div ng-if="$ctrl.isMedallion && [2, 4].indexOf($ctrl._ItemsService.getItemLevel($ctrl.type)) > -1"
        class="badge badge-dark float-left w-50">MM</div>
      <div ng-if="$ctrl.isMedallion && $ctrl._ItemsService.getItemLevel($ctrl.type) >= 3"
        class="badge badge-dark float-right w-50">TR</div>
    </div>
    <div ng-if="$ctrl.showLevel" class="badge badge-dark">
      {{ $ctrl._ItemsService.getItemLevel($ctrl.type) }}
    </div>
  </div>
</div>
