<div class="d-flex flex-column">
  <div role="button" class="flex-fill btn btn-primary"
    ng-class="{'btn-secondary': $ctrl._DungeonsService.getDungeonCleared($ctrl.type)}"
    ng-click="$ctrl._DungeonsService.toggleDungeonCleared($ctrl.type)">
    {{ $ctrl._DungeonsService.getDungeonLabel($ctrl.type) }}
  </div>
  <div class="d-flex">
    <div role="button" class="btn btn-primary w-50"
      ng-class="{'btn-secondary': $ctrl._DungeonsService.getDungeonItemCount($ctrl.type) === 0}"
      ng-click="$ctrl._DungeonsService.decrementItemCount($ctrl.type)">
      {{ $ctrl._DungeonsService.getDungeonItemCount($ctrl.type) }}</div>
    <div role="button" class="btn btn-primary w-50">
      {{ $ctrl._DungeonsService.getDungeonPrize($ctrl.type) }}
    </div>
  </div>
</div>