body {
  -webkit-user-select: none;
}

.navbar {
  -webkit-app-region: drag;
}

button {
  -webkit-app-region: no-drag;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.sub {
  padding: 5px;
}

.navbar {
  padding: 8px;
}
