<div class="row">
  <item type="shield"></item>
  <item type="tunic"></item>
  <item type="sword"></item>
  <item type="bomb"></item>
  <item type="bow"></item>
</div>
<div class="row">
  <item type="pegasus-boots"></item>
  <item type="gloves"></item>
  <item type="flippers"></item>
  <item type="magic-hammer"></item>
  <item type="hookshot"></item>
</div>
<div class="row">
  <item type="fire-rod"></item>
  <item type="ice-rod"></item>
  <item type="cane-somaria"></item>
  <item type="cane-byrna"></item>
  <item type="magic-cape"></item>
</div>
<div class="row">
  <item type="book-of-mudora"></item>
  <item type="shovel"></item>
  <item type="flute"></item>
  <item type="mushroom"></item>
  <item type="magic-powder"></item>
</div>
<div class="row">
  <item type="moon-pearl"></item>
  <item type="magic-mirror"></item>
  <item type="bombos-medallion"></item>
  <item type="ether-medallion"></item>
  <item type="quake-medallion"></item>
</div>